*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* * HEADER */
.width-image-header{
    width: 55px;
    margin: 15px;
    padding-left: 5px;
}
.nav{
    
    background-color: #2e3a46;
}

.main-background{
    height: calc( 100vh);
    background-color: #1E2D3B;
}